
/* Common styles across all IE versions */
/* WARNING: only use exact px size units for OS DPI independant sizing (EVEN FONTS!) */

body
{
	height:286px;
	background: #ffffff;
	padding: 0;
	margin: 0;
	border-width: 1px;
	border-color:#575859;
	border-style:solid;
	border-collapse:collapse;
	color: #575859;
	font: normal normal normal 100% Museo Sans For Dell, Museo Sans For Dell, sans-serif;
	font-size: 12px; /* only use px size for OS DPI independant sizing (not pt) */
	cursor: default;
}

table
{
 	padding: 0;
	margin: 0;
	border: 0px;
	border-collapse: collapse;
}

tr
{
	padding: 0;
	margin: 0;
	border-collapse:collapse
}

td
{
	padding: 0;
	margin: 0;
	border: 0px;
	border-collapse: collapse;	
}

button{

	text-decoration: none;
    padding: 0;
	border: 0px;
	border-collapse: collapse;	
    cursor:pointer;
	list-style-type: none;
	width:100px;
	height:29px;
}



img
{
	border:0px
}

a
{
	text-decoration: none;
}

#header
{
	background: #0672CB;
	height: 50px;
	width:100%;
}

#headLogoLPad
{
	width: 20px;
    height: 20px;
    margin-right:10px;

}

#headLogo
{
/*	background: url('logo.png') no-repeat center; */
/* Govind Fix for Space in title*/
	/*height: 36px;
	width: 5px;
	/*width: 30px;*/
    width: 20px;
    height: 20px;
    display:inline-block;

}

#headText
{
	color: white;
	font-size: 20px;
	text-align: left;
	vertical-align: middle;
}

#headCloser
{
	width: 36px;	
}

.closer input
{ 
	cursor:pointer;
	width: 30px; 
	height: 30px; 
	background: transparent url(close_normal.png) no-repeat; 
    padding: 0;
	border: 0px;
	border-collapse: collapse;
    vertical-align:middle;
} 

.closer input:hover 
{ 
	cursor:pointer;
	background: transparent url(close_hover.png) no-repeat; 
}

.infocloser input
{
    cursor:pointer; 
	width: 30px; 
	height: 30px; 
	background: transparent url(close_info.png) no-repeat; 
    padding: 0;
	border: 0px;
	border-collapse: collapse;
    vertical-align:middle;
}

.infocloser input:hover 
{ 
	cursor:pointer;
	background: transparent url(close_info_hover.png) no-repeat; 
}

.grid
{
	position:relative;
	top: 0px;
	left: 30px;
	width: 442px;
}

.title
{
	color: #575859;
	font-size: 18px;
	vertical-align:top;
}

.title input
{
	cursor:pointer;
	display: inline-block;  
	width: 30px; 
	height: 30px; 
	background: transparent url(info_button_normal.png) no-repeat;
    padding: 0;
	margin-left: 10px;
	border: 0px;
	border-collapse: collapse;	
} 

.title input:hover 
{
	background: transparent url(info_button_hover.png) no-repeat;
}

.separator
{
	border-bottom: 1px;
	border-color:#e1dddd;
	border-style:solid;
    border-collapse:collapse;
   
}

.link
{
	text-decoration: underline;
	vertical-align: bottom;
	text-align: left;
	color: #0672CB;
	font-size: 12px;
	font: normal normal normal 100% Museo Sans For Dell, Museo Sans For Dell, sans-serif;
	cursor: pointer;
}

.button
{
	cursor:pointer;
	list-style-type: none;
	padding: 0;
	margin: 0;
	width:100px;
	height:29px;

}

.button li
{
	list-style-type: none;
	display: inline-block;
	float: left;
	line-height: 29px;
	padding: 0;
	margin: 0;
}

.action
{
	margin: 0;
}

.info
{
	width: 364px;
	height: 23px;
}

.lastinfo
{
	width: 364px;
	height: 23px;
}


.primary_up
{
    color: #F5F6F7;
	font-weight: 500;
	background-color: #0672CB;
	width: 100px;
	height: 29px;
	text-align:center;
	border: 0px;
	border-collapse: collapse;
}

.primary_up a
{
	font-weight: 500;
	color: #F5F6F7;
}


.primary_hover
{
	cursor:pointer;
	color: #F5F6F7;
	font-weight: 500;
	background-color: #0063B8;
	width: 100px;
	height: 29px;
	text-align:center;
}

.primary_hover a
{
	cursor:pointer;
	color: #F5F6F7;
	font-weight: 500;
}
.secondary_up
{
	color: white;
	background-color: #737373;
	width: 100px;
	height: 29px;
	text-align:center;
	border: 0px;
	border-collapse: collapse;
}

.secondary_up a
{
	color: white;
}


.secondary_hover
{
	cursor:pointer;
	color: white;
	background-color: #BBBBBB;
	width: 100px;
	height: 29px;
	text-align:center;
}

.secondary_hover a
{
	cursor:pointer;
	color: white;
}

.hide
{
	visibility:hidden;
}

#footer
{
	height: 50px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	left:0px;
}

#footertext
{
	color: #575859;
	font-size: 11px;
	text-align: center;
	vertical-align: middle;
}
